---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: eshopwebmvcapi
  name: eshopwebmvcapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eshopwebmvcapi
  template:
    metadata:
      labels:
        app: eshopwebmvcapi
    spec:
      containers:
        - env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Development
            - name: ASPNETCORE_URLS
              value: http://+:80
          image: registry.gitlab.com/henrikamirbekyan/eshoponweb/eshopwebmvcapi:{{ CI_COMMIT_TAG }}
          name: eshopwebmvcapi
          ports:
            - containerPort: 80
