---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: eshopwebmvc
  name: eshopwebmvc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eshopwebmvc
  template:
    metadata:
      labels:
        app: eshopwebmvc
    spec:
      initContainers:
      - name: init-wait
        image: alpine
        command: ["sh", "-c", "for i in $(seq 1 300); do nc -zvw1 sqlserver.azuresqledge 1433 && exit 0 || sleep 3; done; exit 1"]
      containers:
        - env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Development
            - name: ASPNETCORE_URLS
              value: http://+:80
          image: registry.gitlab.com/henrikamirbekyan/eshoponweb/eshopwebmvc:{{ CI_COMMIT_TAG }}
            
          name: eshopwebmvc
          ports:
            - containerPort: 80
